#portal-footer-wrapper .row{
    background-color:@color-medium;
    padding-top:1em;
}

#portal-footer {
    font-size: 1.1rem;
    background-color:@color-medium;
}

//FLEX FOOTER
.footer-static {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

// #footer-sitemap {
//     max-width: 1200px;
//     margin: 0 auto;
// }

// #footer-sitemap a {
//     color: gray;
//     text-transform: uppercase;
// }

// .footer-sitemap-item > a {
//     font-size: 18px;
// }

// .footer-sitemap-item > ul {
//     margin-top: 0.5em;
// }

// #footer-sitemap ul li a,
// #footer-sitemap .footer-static a{
//     text-transform:none;
// }

// .footer-sitemap-item{
//     display: block;
//     float:left;
//     max-width:13%;
//     min-width:7%;
//     padding:0 1em 0 1.5em;
// }

// .footer-sitemap-item li {
//     display: block;
//     line-height: 1.1em;
//     margin-bottom: 0.75em;
// }

#portal-footer p{
    text-align:center;
}

#visual-portal-wrapper > footer {
    clear: both;
}

#footer-sitemap div.footer-static {
    //cancel float in sunburst
    float: none;
    a[href*="edit"]{
        position: absolute;
        top: -2em;
    }
}

.footer-static {
    padding: 1rem;
}

.footer-static .flex-item {
    padding: 1rem;
    p{
        font-size: 1.4em;
        color : @color-light;
    }
    h2{
        font-size: 1.8em;
        color : @color-light;
        font-weight: bold;
        padding: 0 0 0.5em 0;
    }
    ul{
        list-style: none;
    }
    li{
        display: block;
        line-height: 1.5em;
    }
    a:hover{
        border-bottom: 1px solid @color-light;
    }
}