/* >>> FOOTER <<< */

#portal-sitemap > li {
    float:left;
}

#portal-sitemap .navTreeLevel3 .navTreeItem {
    color: #205c90;
    list-style: circle outside none;
}

#portal-footer-wrapper .row{
    background-color:#f2f2f2;
    padding-top:1em;
}

#portal-footer{
    clear:both;
    position:relative;
    background-color:#f2f2f2;
}

#footer-sitemap {
    clear:both;
    position:relative;
    max-width: 1200px;
    margin: 0 auto;
}

#footer-sitemap a {
    color: gray;
    text-transform: uppercase;
}

.footer-sitemap-item > a {
    font-size: 18px;
}

.footer-sitemap-item > ul {
    margin-top: 0.5em;
}

#footer-sitemap ul li a,
#footer-sitemap .footer-static a{
    text-transform:none;
}

.footer-sitemap-item{
    display: @footer-sitemap-display;
    float:left;
    max-width:13%;
    min-width:7%;
    padding:0 1em 0 1.5em;
}

.footer-sitemap-item li {
    display: block;
    line-height: 1.1em;
    margin-bottom: 0.75em;
}

#footer-sitemap div.footer-static {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    float:left;
    margin-left: 0;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    a[href*="edit"]{
        position: absolute;
        top: -2em;
    }
}

#portal-footer p{
    text-align:center;
}

#visual-portal-wrapper > footer {
    clear: both;
}
//FOOTER
.footer-bloc{
    box-sizing: border-box;
    padding: 3em 3em 3em 0;
    flex: 1 1 25%;
    p{
        color : @color-light;
    }
    h3{
        color : @color-light;
        font-size: 1em;
        font-weight: bold;
        padding: 0 0 0.5em 0;
    }
    ul{
        list-style: none;
    }
    li{
        display: block;
        line-height: 1.5em;
    }
    a:hover{
        border-bottom: 1px solid @color-light;
    }
}
/* >>> FIN FOOTER <<< */