// Color
// --------------------------

@white-bg:     #fff;
@grey-bg:         #808080;  

// FONT
// --------------------------

// Header
// --------------------------

@header-search-bg:      @white-bg;
@header-search-icon:        "\e828";
@header-actions:            @white-bg;
@header-actions-color:      #000;

// Navigation
// --------------------------

@nav-onglet-color:          #395271;
@nav-onglet-color-hover:    #4b6584;
@nav-onglet-bg:             transparent;
@nav-onglet-bg-hover:       transparent;
@nav-onglet-jsjt-bg:        transparent;
@nav-wapper-bg:             transparent;

// submenu
// --------------------------

@sub-menu-bg:                #fff;
@sub-onglet-bg-hover:        transparent;
@sub-onglet-color-hover:     #4b6584;
@sub-onglet-border:          0;


// FOOTER
// --------------------------

@footer-sitemap-display:      block;

// Homepage
// --------------------------


// Vue faceted agenda
// --------------------------


// Other action
// --------------------------

@other-action-icon-bg:       #808080;
@other-action-icon-color:       #ffffff;

// Portlet
// --------------------------

@portlet-acces-caption-bg: rgba(0,0,0,0.5);
@portlet-acces-caption-color: #fafafa;
@portlet-icones-horizontal-bg: #34495e;
@portlet-icones-horizontal-bg-hover: #95a5a6;
@portlet-icones-horizontal-color: #fafafa;

// Vue faceted
// --------------------------

@faceted-area-bg:       #f2f2f2;

// Mini site
// --------------------------

@ms-menu-collapsable-bg:       #f7f7f7;
@ms-menu-collapsable-a-bg:     transparent;
@ms-menu-collapsable-a-color:     #000;