// Color
// --------------------------
@color-default1:     #fff;
@color-default2:     #fff;
@color-light:        #fff;
@color-white:        #fff;
@color-medium:       #E8EDEF;
@color-dark:         #30383F;
@color-main:         #FF8A66;


// FONT
// --------------------------
@font-title:          'Open Sans', sans-serif;
// Header
// --------------------------

@header-search-bg:          transparent;
@header-search-icon:        "\e828";
@header-actions:            transparent;
@header-actions-color:      #000;

// NAVIGATION
// Onglets

@nav-onglet-color:          red;
@nav-onglet-color-hover:    #4b6584;
@nav-onglet-icon:           "\e844";
@nav-onglet-bg:             transparent;
@nav-onglet-bg-hover:       transparent;
@nav-onglet-jsjt-bg:        transparent;
@nav-wapper-bg:             transparent;

// submenu
// --------------------------

@sub1-menu-bg:                #fff;
@sub1-onglet-bg-hover:        transparent;
@sub1-onglet-color-hover:     #4b6584;
@sub1-onglet-border:          0;

@sub2-menu-bg:                #fff;
@sub2-onglet-bg-hover:        transparent;
@sub2-onglet-color-hover:     #4b6584;
@sub2-onglet-border:          0;


// FOOTER
// --------------------------


//QUICK-ACCESS
@quick-access-padding: 0 4rem;

@quick-icon-1: url(/svg/icon_que-faire-a-mons.svg);
@quick-icon-2: url(/svg/icon_que-faire-a-mons.svg);
@quick-icon-3: url(/svg/icon_que-faire-a-mons.svg);
@quick-icon-4: url(/svg/icon_que-faire-a-mons.svg);

// GRID FLEX
@bloc-item-width-4: 0 1 24%;
@bloc-item-width-3: 0 1 32%;
@bloc-item-width-2: 0 1 48%;
@bloc-item-width-1: 0 1 100%;

@bloc-item-margin-4: 1.333%;
@bloc-item-margin-3: 2%;
@bloc-item-margin-2: 2%;
@bloc-item-margin-1: 0;



@logo-display: none;
@city-name: "Namur";
@city-color: #000;
@search-icon-color: rgb(104, 0, 0);


// Portlet
// --------------------------

/*@portlet-acces-caption-bg: rgba(0,0,0,0.5);
@portlet-acces-caption-color: #fafafa;
@portlet-icones-horizontal-bg: #34495e;
@portlet-icones-horizontal-bg-hover: #95a5a6;
@portlet-icones-horizontal-color: #fafafa;*/

// Vue faceted
// --------------------------

@faceted-area-bg:       #f2f2f2;

// Mini site
// --------------------------

@ms-menu-collapsable-bg:       #f7f7f7;
@ms-menu-collapsable-a-color:     #000;
@ms-menu-collapsable-a-bg:     transparent;



// THEME 2

@color-dark-2:          #151524;
@color-black:              #000;
@color-white:              #fff;
@color-light-2:         #E0E0ED;
@color-main-2:          #85A4A8;

// THEME 3

@color-dark-3:          #3D4755;
@color-black:              #000;
@color-white:              #fff;
@color-light-3:         #E0E0ED;
@color-main-3:          #85A4A8;


