// Color
// --------------------------
@color-light:        #fff;
@color-medium:       #ccc;
@color-dark:         #333;
@font-black:         #333;
@white-bg:           #fff;
@grey-bg:            #808080;

// FONT
// --------------------------

// Header
// --------------------------

@header-search-bg:          ;
@header-search-icon:        "\e828";
@header-actions:            ;
@header-actions-color:      #000;

// NAVIGATION
// Onglets

@nav-onglet-color:          red;
@nav-onglet-color-hover:    #4b6584;
@nav-onglet-icon:           "\e844";
@nav-onglet-bg:             transparent;
@nav-onglet-bg-hover:       transparent;
@nav-onglet-jsjt-bg:        transparent;
@nav-wapper-bg:             transparent;

// submenu
// --------------------------

@sub1-menu-bg:                #fff;
@sub1-onglet-bg-hover:        transparent;
@sub1-onglet-color-hover:     #4b6584;
@sub1-onglet-border:          0;

@sub2-menu-bg:                #fff;
@sub2-onglet-bg-hover:        transparent;
@sub2-onglet-color-hover:     #4b6584;
@sub2-onglet-border:          0;


// FOOTER
// --------------------------

@footer-sitemap-display:      block;

// Homepage
// --------------------------
@homepage-item-colums-0:      4;		
@homepage-item-colums-2:      3;		
@homepage-item-colums-3:      2;

// Vue faceted agenda
// --------------------------
@agenda-event-entry-0:       4;		
@agenda-event-entry-2:       3;		
@agenda-event-entry-3:       2;

// Other action
// --------------------------

@other-action-icon-bg:       #808080;
@other-action-icon-color:       #ffffff;

// Portlet
// --------------------------

@portlet-acces-caption-bg: rgba(0,0,0,0.5);
@portlet-acces-caption-color: #fafafa;
@portlet-icones-horizontal-bg: #34495e;
@portlet-icones-horizontal-bg-hover: #95a5a6;
@portlet-icones-horizontal-color: #fafafa;

// Vue faceted
// --------------------------

@faceted-area-bg:       #f2f2f2;

// Mini site
// --------------------------

@ms-menu-collapsable-bg:       #f7f7f7;
@ms-menu-collapsable-a-bg:     transparent;
@ms-menu-collapsable-a-color:     #000;
